/* Variaveis CSS*/
:root{
    --cor_letra: #F9A01B;
    --cor_letra_navegação: #ffffff;
    --cor_fundoBotao1: #F9A01B;
    --cor_fundoBotao2: #F9A01B;
}

body {
    font-family: 'Verdana', sans-serif;
    text-align: center;
    background: url('../static/FundoM.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /*define o tamanho da altura*/
    width: 100vw; /*define o tamanho da largura*/
    display: flex; /* Utiliza flexbox para centralizar o conteúdo */
    flex-direction: column;
    /*justify-content: space-evenly;  Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    color: var(--cor_letra);
    font-size: 16px;
}


/* Tela welcome */
.main {
    align-items: center;
    text-align: center; /* Centraliza o texto dentro do main */
    position: relative; /* Permite posicionar os botões em relação ao main */
    justify-content: space-around;
    top: 10%; /* Ajuste a distância do topo conforme necessário */
    width: 100vw;
}

.botoes {
    position: absolute; /* Posiciona os botões sobre a imagem */
    transform: translateX(-50%); /* Ajusta o centro dos botões */
    display: flex; /* Permite alinhar os botões em linha */
    flex-direction: column; /* Alinha os botões verticalmente */
    align-items: center; /* Centraliza os botões horizontalmente */
    left: 50%;
}

/* telas - configuraçãoes gerais */
.main_tela{
    margin: auto;
    align-items: center;
}
/* tela de inicio*/
.inicio_Tela > a{
    font-size: 20px;
    font-weight: bolder;
}
/* tela de login*/
.login_Tela{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: bolder;
}
/* tela de cadastro*/
.registro_Tela{
    font-size: 26px;
    font-weight: bolder;
}
.input{
    font-size: 15px; /* tamanho da area de inserção de dados */
}

/* Menu de navegação */
nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    margin-top: 20px;
}
/* Botões de navegação entre telas */
.btn_nav{
    border-radius: 5px;
    padding: 5px;
    color: var(--cor_letra_navegação);
    font-weight: bolder;
    background-color: var(--cor_fundoBotao1);
}
.btn_nav:hover{
    background-color: var(--cor_fundoBotao2);
}
/* Configurações da tabela*/
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #ddd;
}

h2 {
    font-family: 'Verdana', sans-serif;
}

a {
    text-decoration: none;
    color: #F9A01B;
    font-size: 18px;
    margin: 10px;
}

a:hover{
    text-decoration: underline;
    color: white;
    font-size: 18px;
    margin: 10px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
    border: none;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor_fundoBotao2);
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--cor_fundoBotao1);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;
}

.button:hover:before {
    width: 100%;
}



.alert {
    width: 80%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.alert-danger {
    background-color: #ff4d4d;
    color: white;
}

.alert-success {
    background-color: #4CAF50;
    color: white;
}

.alert-info {
    background-color: #2196F3;
    color: white;
}





