.busca{
    margin-bottom: 10px;
}

.busca input{
    width: 500px;
    height: 20px;
}

#busca{
    background-color: gainsboro;
    color: black;
    margin-top: -5px;
}

#busca table{
    color: black;
    border-color: black;
    width: 30vw;
}

#busca td, tr{
    color: black;
    border-color: black;
}

#altera{
    margin-top: 30px;
}
#nav_adm{
    margin-top: -8px;
    margin-bottom: 5px;
}
