<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="main_tela">
        <h1>Bem-vindo</h1>
        <div class="inicio_Tela">
            <a href="{{ url_for('login') }}">Login</a> |
            <a href="{{ url_for('register') }}">Cadastro</a>
        </div>
    </main>
</body>
</html>
