<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
   <main class="main_tela">
        <h2>Login</h2>
        <div class="login_Tela">
            <form method="POST" action="{{ url_for('login') }}">
                <input type="email" name="email" placeholder="Email" required class="input">
                <input type="password" name="password" placeholder="Senha" required class="input">
                <button type="submit" class="button">Entrar</button>
                <a href="{{ url_for('welcome') }}"></a>
            </form>
        </div>
   </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

