<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main class="main_tela">
        <h2>Cadastro</h2>
        <div class="registro_Tela">
            <form method="POST">
                <input type="text" name="first_name" placeholder="Primeiro Nome" required class="input">
                <input type="text" name="last_name" placeholder="Sobrenome" required class="input">
                <input type="email" name="email" placeholder="Email" required class="input">
                <input type="text" name="data_nascimento" placeholder="DD/MM/AAAA" required>
                <input type="text" name="endereco" placeholder="Endereço" required class="input">
                <input type="password" name="password" placeholder="Senha" required class="input">
                <input type="password" name="confirm_password" placeholder="Confirme sua Senha" required class="input">
                <button type="submit" class="button">Cadastrar</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

