<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav>
        <div class="top-bar">
            <div class="left-section">
                <button class="back-button">
                    <a href="{{ url_for('login') }}">
                        <i class="fas fa-arrow-left"></i> Voltar
                    </a>
                </button>
            </div>
            <div class="right-section"> 
                <a href="{{ url_for('user') }}">
                    <i class="fas fa-user user-icon"></i>
                </a>
            </div>
        </div>
    </nav>
    <main class="main">
        <h2>Bem-vindo, {{ current_user.first_name }}!</h2>
        <div class="botoes">
            <a href="{{ url_for('chat') }}">
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="{{ url_for('static', filename='botao.css') }}">
                <button class="btn btn-4 btn-sep icon-send">Fale com um personal</button>
            </a>
            <a href="{{ url_for('treino') }}">
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="{{ url_for('static', filename='botao.css') }}">
                <button class="btn btn-4 btn-sep icon-info">Seus treinos</button>
            </a>   
    </div>
    </main>
</body>
</html>
